In [1]:
#Question 1: Write your own reduce function

def my_reduce(funct, seq):
  first = seq[0]
  for i in seq[1:]:
    first = funct(first,i)
  return first

def addi(x1,x2):
  return x1+x2

l = [1,2,3,4]
addd = my_reduce(addi,l)
addd

10

In [18]:
#Write your own filter function
def my_filter(funct,seq):
  l = []
 # first = seq[0]
  for i in range (0,len(seq)):
    first = funct(seq[i])
    l.append(first)
    l =  [x for x in l if x is not None]
  return l

def odd_even(i):
  if(i%2 ==0):
    return i
  
  
 
l = [1,2,3,4]
a = my_filter(odd_even,[1,2,3,4])
a

[2, 4]

In [39]:
"""
Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists
['A', 'C', 'A', 'D', 'G', 'I', ’L’, ‘ D’]
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
[[2], [3], [4], [3], [4], [5], [4], [5], [6]]
[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]
[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]
"""

input_list = ['x','y','z']
result = [ item*num for item in input_list for num in range(1,5)  ]
result

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [37]:
input_list2 =[2,3,4]
result2 = [[item+num] for item in input_list2 for num in range(0,3)]
result2

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [43]:
input_list3 = [2,3,4,5]
result3 = [ [item+num for item in input_list] for num in range(0,4)  ]
result3

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [46]:
input_list4 = [1,2,3]
result4 = [(a,b) for a in input_list4 for b in input_list4]
result4

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]